<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= pageTitle %></title>
</head>
<body>
  <%- body %>

  <%# Footer %>

  <footer>
    <div class="quick-links">
      <h3 data-title="Quick Links">Quick Links</h3>
      <a href="/auth/signup">Register</a>
      <a href="/auth/login">Login</a>
      <a href="/user/register-as-author">Become an author</a>
    </div>
    <div class="about">
      <h3 data-title="About Us">About Us</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus veritatis molestiae error ad eius, provident nesciunt ducimus nihil alias cupiditate non eaque veniam facilis ex velit neque voluptas ullam. Quae laboriosam, quaerat voluptas sint beatae provident nam tenetur officiis nostrum nisi, quam magni obcaecati dicta! Cum fugiat pariatur iure dolor illo iusto quidem vitae, blanditiis veritatis quae, dolore beatae autem rerum incidunt quis rem modi saepe, dicta sint. Veritatis porro neque explicabo eveniet illo, saepe! Architecto deserunt, ab perspiciatis. Doloremque necessitatibus, repellat voluptates facere ipsa iste? Officia doloremque nemo perferendis aspernatur blanditiis repudiandae voluptates veniam at tempora numquam labore autem nihil delectus illo ipsa atque, architecto, optio recusandae veritatis, dicta aperiam tempore libero explicabo. Rem velit illum quia accusamus corrupti tempore magnam, iste placeatq.
      </p>
    </div>
  </footer>
  <div id="search">
    <form action="">
      <input type="search" id="q" name="q" placeholder="Search for a post...">
      <i class="bi bi-x"></i>
    </form>
  </div>
  <script src="/javascripts/index.js"></script>
</body>
